ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BA4545;
    opacity: 0.6
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #B80606;}

ul.topnav li a.active {background-color: #B80606;}

ul.topnav li.right {float: right;}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

  }  

button {

    background-color: #FFFFFF;
    color: black;
    padding: 5px 10px;
    margin: 2px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 5%;

 }   

.signupbtn {

    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 4px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;

}

#mce-EMAIL {

  padding-top: 10px;
    padding-right: 60px;
    padding-bottom: 50px;
    padding-left: 60px;

}

#content {

    float: bottom;
    width: 20%;
  margin-left: auto ;
  margin-right: auto ;
  color: black;
  border: 1px solid #ccc;
  padding: 6px 12px;

}

.form-control {
 margin-left:auto;
 margin-right:auto;
 width:50%;

}

.para1  {

    width: 80%; 
    margin-left: 10%;
    margin-top: 10px;  
    font-size: 1em; 
 
}

.part {

float: bottom;
width: 80%;
margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 20px;
    color: black;

}

h3 {

    width: 90%;
    margin-left: 5%;
    margin-top: 10px;

}
 
h1 {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

h2 {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.CFG {


width: 80%;
margin-left: auto;
margin-right: auto;

}

.full {
    width: 100%;    
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}

.image1 {

    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2px;
    width: 30%;
    min-width: 250px;
}

.social {

float: bottom;
width: 90%;
margin-left: 5%;
margin-right: 5%;
text-align: center;
font-size: 20px;
    color: black;


}

.image2 {

    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2px;
    width: 20%;
    min-width: 250px;


}
