
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #BA4545;
    opacity: 0.6
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #B80606;}

ul.topnav li a.active {background-color: #B80606;}

ul.topnav li.right {float: right;}

h1 {
    padding-left: 20px;
}

h2 {
    padding-left: 20px;
    font-size: 30px;
}

.first-row {
    margin: 20px 50px 20px 50px;
}
.second-row {
    margin: 20px 50px 20px 50px;
}

.col-md-7 {
    font-size: 25px;
    background-color: #BA4545;
    color: black;
    border: 10px;
    border-style: solid; 
    border-color: white;
}

.col-md-5 {
    font-size: 30px;
    text-align: center;
    background-color: #E3E3E3;
    border: 10px;
    border-style: solid; 
    border-color: white;
}

.col-md-2 {
    font-size: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #E3E3E3;
}

.full {
    width: 100%;    
}
.gap {
    height: 30px;
    width: 100%;
    clear: both;
    display: block;
}
.footer {
    background: #EDEFF1;
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer p {
    margin: 0;
}
.bg-gray {
    background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #B4B3B3;
}
.footer-bottom {
    background: #E3E3E3;
    border-top: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-bottom p.pull-left {
    padding-top: 6px;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
/* carousel */
/* Mobile */
@media (max-width: 767px) {
    .slider-size {
        height: auto;
    }
    .slider-size > img {
         width: 80%;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .slider-size {
        height: auto;
    }
    .slider-size > img {
        width: 80%;
    }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
    .slider-size {
         height: 200px;
    }
    .slider-size > img {
        width: 80%;
    }
}

/* desktops */
@media (min-width: 1024px) {
    .slider-size {
        height: 300px;
    }
    .slider-size > img {
        width: 60%;
    }

@media (max-width: 500px) { 
  h2 {
    font-size: 15px;
  }
  }